/* this is the logo */
.navbar img {
    display: inline; 
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 0px;
    margin-right: 10px; 
    height: 200%;
}

.img-thumbnail {
  border: 1px solid #c6c6c6;
}

.well-transparent {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

body {
    font-weight: normal!important;
}


.vertical-middle td {
    vertical-align: middle!important;
}

.row-no-padding [class*="-6"] {
    padding-left:0;
    padding-right:0;
}