cmsplugin-filer==1.1.3
Django==1.8.5
django-annoying==0.8.4
django-appconf==1.0.1
django-classy-tags==0.6.2
django-cms==3.1.3     ### 3.1.5 and later DO NOT WORK
django-filer==1.2.5
django-jet==1.0.4
django-mptt==0.8.6
django-nullmailer==0.3
django-polymorphic==0.8.1
django-request-logging==0.4.6
django-reversion==1.8.5
django-sekizai==0.8.2
Django-Select2==5.2.0
django-treebeard==3.0
djangocms-admin-style==0.2.8
djangocms-attributes-field==0.1.2
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1
djangocms-link==1.7.1
djangocms-picture==0.1
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.6.0
djangocms-video==0.1
easy-thumbnails==2.3
html5lib==0.999
Pillow==3.0.0
pkg-resources==0.0.0
pytz==2015.6
six==1.10.0
Unidecode==0.4.19
pytest==4.0.0
pytest-django==3.4.4
django-paypal==0.5.0
enum34==1.1.6
py==1.10.0
