{% extends "base.html" %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<style>
  p {
    margin-left: 10px;
  }

  h2 {
    margin-top: 20px;
  }

  ul {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-left: 2.5em;
  }
</style>
{% endaddtoblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6">

<h1>Aiuto</h1>

<h2 id="contatti">Come posso contattarvi?</h2>
<ul>
	<li class="lead"><span class="glyphicon glyphicon-earphone">&nbsp;</span>Telefono o <a href="https://wa.me/393331202453">Whatsapp</a>: 333-1202453</li>
	<li class="lead"><span class="glyphicon glyphicon-envelope">&nbsp;</span>Email: <a href="mailto:mail@zenaskigroup.it">mail@zenaskigroup.it</a></li>
	<li class="lead"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span><a href="https://www.facebook.com/zenaski">Facebook</a></li>
</ul>

<h2>Come faccio ad iscrivermi ad una gita?</h2>
<p>
  Puoi recarti presso uno dei nostri punti di appoggio:
  <ul>
    <li>Bar Remo: Via Cialdini 7, Voltri</li>
    <li>Club 3G: Via Paglia 41A, Sestri Ponente, 010-8690331</li> 
  </ul>

  Oppure, puoi iscriverti direttamente online, pagando con carta di credito o
  PayPal.
</p>

<h2>Come faccio ad iscrivermi online?</h2>
<p>
  Per prima cosa, è necessario <a href="/accounts/register/">registrarsi</a>
  al sito. Una volta completata la registrazione, è sufficiente cliccare sul
  link <i>Iscriviti online!</i> sulla pagina di ciascuna gita.
</p>

<h2>Se non vengo alla gita, posso recuperare il credito utilizzato per la caparra?</h2>
<p>
  <b>In linea generale, no</b>. Chiediamo di versare una caparra per essere
  sicuri di avere abbastanza partecipanti da poter pagare il costo del
  pullman: purtroppo una volta bloccato il pullman, non possiamo più
  restituire le caparre versate.
</p>

<p>
  Tuttavia, se ti sei iscritto ad una gita e sai di non poter venire, ti
  invitiamo a contattarci: se riusciamo a trovare un sostituto in tempo,
  potrai riavere la tua caparra. Per maggiori informazioni, si invita a
  consultare il <a href="/regolamento">regolamento delle gite</a>.
</p>


<h2>È obbligatorio essere iscritti a PayPal?</h2>
<p>
  No, è possibile pagare anche con una semplice carta di credito. Una volta
  arrivati sulla seguente pagina, è sufficiente cliccare sul pulsante <i>Paga
  con una carta</i>:
  <br>
  <br>
  <img class="thumbnail" src="/static/img/paypal.png" />
</p>

<h2>Posso pagare con una carta PostePay?</h2>
<p>
  Assolutamente si. Per maggiori informazioni, si rimanda
  all'<a href="https://www.paypal.com/it/smarthelp/article/quali-carte-di-credito-o-prepagate-posso-usare-su-paypal-faq1119">apposta
  pagina</a> sul sito di PayPal.

<!-- add some vertical blank space to ensure that when we link to an anchor,
the page scrolls correctly -->
<div class="col-xs-12" style="height:500px;"></div>

    </div>
  </div>
</div>

{% endblock %}
