{% extends "base.html" %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<style>
  p {
    margin-left: 10px;
  }

  h2 {
    margin-top: 20px;
  }

  ul {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-left: 2.5em;
  }
</style>
{% endaddtoblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6">

<h1>Aiuto</h1>
<p>
  Come la scorsa stagione, è possibile iscriversi alle gite direttamente dal
  nostro sito web. Segue una lista delle domande più frequenti.
</p>

<h2 id="contatti">Come posso contattarvi?</h2>
<ul>
	<li class="lead"><span class="glyphicon glyphicon-earphone">&nbsp;</span>Telefono: 333-1202453</li>
	<li class="lead"><span class="glyphicon glyphicon-envelope">&nbsp;</span>Email: <a href="mailto:mail@zenaskigroup.it">mail@zenaskigroup.it</a></li>
	<li class="lead"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span><a href="https://www.facebook.com/zenaski">Facebook</a></li>
</ul>


<h2>Come faccio ad iscrivermi online?</h2>
<p>
  Per prima cosa, è necessario <a href="/accounts/register/">registrarsi</a>
  al sito. Una volta completata la registrazione, è sufficiente cliccare sul
  link <i>Iscriviti online!</i> sulla pagina di ciascuna gita.
</p>

<h2>È <i>obbligatorio</i> iscriversi online?</h2>
<p>
  Assolutamente no. Per chi vuole, è possibile iscriversi presso i soliti
  punti vendita:
  <ul>
    <li>Bar Remo: Via Cialdini 7, Voltri</li>
    <li>Club 3G: Via Vigna 66R, Sestri Ponente</li>
  </ul>
</p>

<h2>Come faccio a pagare la caparra?</h2>
<p>
  Al momento dell'iscrizione, la quota verrà scalata dal <i>credito
  prepagato</i>. Se non si dispone di abbastanza credito, non sarà possibile
  iscriversi online.
</p>

<a id="ricarica"></a>
<h2>Come posso ricaricare il mio credito?</h2>
<p>
  Purtroppo per ragioni fiscali e organizzative al momento non possiamo
  accettare pagamenti online. È possibile ricaricare il credito prepagato:
  <ul>
    <li>durante la festa di inizio stagione;</li>
    <li>presso la sede dello sci club in Passeggiata R.Bruzzone 50, Voltri, al
      martedì dalle 21:30 alle 23:00;
    </li>
    <li>direttamente sul pullman, durante il viaggio di ritorno dalle gite.
    </li>
  </ul>
</p>

<h2>Se non posso pagare online, che senso ha?</h2>
<p>
  Lo scopo principale delle iscrizioni online è di consentire ai nostri soci
  di potersi iscrivere alle gite senza doversi recare presso uno dei nostri
  punti di appoggio: l'idea è che al termine di una gita, chi vuole può
  lasciarci una somma pari ad una o più caparre: tale somma verrà accreditata
  sul sito e potrà essere utilizzata quando si vuole.
</p>
<p>
  Tuttavia, ci rendiamo conto che questo possa essere un problema per chi non
  è mai venuto, soprattutto se abita lontano da uno dei nostri punti di
  appoggio: in tal caso, vi invitiamo a <a href="#contatti">contattarci</a>
  per vedere se è possibile venirvi incontro in qualche modo.
</p>

<h2>Cosa succede se non utilizzo tutto il mio credito?</h2>
<p>
  Alla fine della stagione, sarà possibile richiedere la restituzione
  dell'eventuale credito inutilizzato, oppure decidere di tenerlo per poterlo
  utilizzare nella prossima stagione.
</p>

<h2>Posso iscrivere altre persone?</h2>
<p>
  Certo. Ciascun utente può iscrivere quante persone vuole, sia soci che non
  soci, a patto che abbia abbastanza credito.
</p>

<h2>Se non vengo alla gita, posso recuperare il credito utilizzato per la caparra?</h2>
<p>
  No. Tuttavia, se ti sei iscritto ad una gita e sai di non poter venire, ti
  invitiamo a contattarci: se riusciamo a trovare un sostituto in tempo,
  potrai riavere la tua caparra.
</p>

<!-- add some vertical blank space to ensure that when we link to an anchor,
the page scrolls correctly -->
<div class="col-xs-12" style="height:500px;"></div>

    </div>
  </div>
</div>

{% endblock %}
