{% extends "base.html" %}
{% load sekizai_tags %}

{% block fb_hook %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : 'zenaski',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <h2>Inverno 2017-2018</h2>
    </div>
  </div>

  <div class="row">
    {% for trip in trips %}
    {% if trip.fb_post %}
    <div class="col-lg-4">
      <h4>
        <span class="label label-default">{{trip.date}}</span>
        {{trip.destination}}
      </h4>
      <div class="btn-toolbar" role="toolbar">
        <a class="btn btn-primary" href="{{trip.fb_album}}" target="_blank">
          Apri nel browser</a>
        <a class="btn btn-primary" href="fb://faceweb/f?href={{trip.fb_album}}">
          Apri nell'app</a>
      </div>
      <br>
      <div class="fb-post"
           data-href="{{trip.fb_post}}"
           data-show-text="false">
      </div>
    </div>
    {% endif %} 
    {% endfor %}
  </div>
  
</div>
{% endblock %}
