{% extends "trips/trip.html" %}
{% load sekizai_tags %}

{% block add-sublist %}{% endblock %}
{% block trip-buttons %}{% endblock %}

{% block registration %}

{% addtoblock "js" %}
<script>
$(document).ready(function($) {
    $("#addmore").click(function() {
        $('#remind-to-register').show();
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        var new_form = $('#empty_form').html().replace(/__prefix__/g, form_idx);
        var tr = $("<tr>").append(new_form);
        tr.insertBefore("#tr_addmore");
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
});
</script>
{% endaddtoblock %}

<h3>I miei dati</h3>
<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Nome</th>
    <td colspan="2">{{ user.get_full_name }}</td>
  </tr>
  <tr>
    <th>Credito residuo</th>
    <td class="{{ user.member.balance_class }}">{{ user.member.balance }} €</td>
  </tr>
</table>

<h3>Le mie iscrizioni</h3>

    <form action="" method="post">
      {% csrf_token %}
      {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endif %}
      {% if message %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endif %}
      <table class="table table-striped table-bordered table-hover table-condensed vertical-middle">
        <tr>
          <th>Cognome e nome</th>
          <th>Socio?</th>
          <th>Caparra</th>
          <th>Stato</th>
        </tr>

        {% for p in participants %}
        <tr>
          <td>{{ p.name }}</td>
          <td class="text-center">
            {% if p.is_member %}
              <span class="glyphicon glyphicon-ok-sign text-success"></span>
            {% else %}
              <span class="glyphicon glyphicon-minus-sign text-danger"></span>
            {% endif %}
          </td>
          <td class="text-center">{{ p.deposit }} €</td>
          <td class={% if p.is_confirmed %}"text-success"{% else %}"text-warning"{% endif %}>
            {{ p.status }}
          </td>
        </tr>
        {% endfor %}

        {% if registration_allowed %}
          {{ formset.management_form }}

          {# allforms contain the actual forms + the empty form at last #}
          {# the empty form has a special id and it is hidden #}

          {% for form in allforms %}
            <tr {% if forloop.last %} id="empty_form" class="hidden" {% endif %}>
              <td class="row-no-padding">
                {{ form.surname.errors }}{{ form.name.errors }}
                <div class="col-sm-6">{{ form.surname }}</div>
                <div class="col-sm-6">{{ form.name }}</div>
              </td>
              <td class="text-center">{{ form.is_member.errors }}{{ form.is_member }}</td>
              <td class="text-center">
                {% if user.member.trusted %}
                  {{ form.deposit.errors }}{{ form.deposit}}
                {% else %}
                  {{ trip.deposit }} €
                {% endif %}
              </td>

              <td class="text-warning">Da pagare</td>
            </tr>
          {% endfor %}
        <tr id="tr_addmore">
          <td class="text-center" colspan="4">
            <a id="addmore" class="btn btn-primary btn-sm" >
              <span class="glyphicon glyphicon-plus"></span>
              Aggiungi ulteriori partecipanti
            </a>
          </td>
        </tr>
        {% endif %}
      </table>

      {% if registration_allowed %}
      <div id="remind-to-register" class="alert alert-warning collapse">
        ATTENZIONE: l'iscrizione <b>NON</b> è ancora completata. Dopo aver
        compilato i nomi di tutti i partecipanti, premere uno dei due pulsanti
        sotto per completarla
      </div>
      
      <div class="text-center">
        <button type="submit" name="btn-balance" class="btn btn-info" >
          <span class="glyphicon glyphicon-euro"></span>
          Paga con il credito
        </button>
        <button type="submit" name="btn-paypal" class="btn btn-info" >
          <span class="glyphicon glyphicon-credit-card"></span>
          Paga con PayPal
        </button>
      </div>
      {% endif %}

    </form>
</div>
{% endblock %}
