{% extends "base.html" %}
{% load sekizai_tags %}

{% addtoblock "css" %}
  <link href="/static/select2/select2.css" rel="stylesheet"/>
  <!-- <style> -->
  <!-- /* force the select2 box to use the same font as the rest of the page */ -->
  <!-- .select2-container .select2-choice, .select2-result-label { -->
  <!--   font-family:Arial, Helvetica, sans-serif; -->
  <!--   font-size: 10pt; -->
  <!-- } -->
  <!-- </style> -->
{% endaddtoblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Ricarica credito</h1>
    <form action="" method="post">
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endif %}
      {% if message %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endif %}

      <table class="table table-striped table-bordered table-hover table-condensed vertical-middle">
        <tr>
          <th>Socio</th>
          <th>Valore</th>
          <th>Causale</th>
          <th>Credito totale</th>
          <th>Eseguito da</th>
        </tr>

        {% for transfer in transfers %}
        <tr class="{% cycle 'even' 'odd'%}">
          <td>{{ transfer.member }}</td>
          <td>{{ transfer.value }} €</td>
          <td>{{ transfer.description }}</td>
          <td>{{ transfer.member.balance }} €</td>
          <td>{{ transfer.executed_by }}</td>
        </tr>
        {% endfor %}

        <tr>
          <td>{{ form.member.errors }}{{ form.member }}</td>
          <td>{{ form.value.errors }}{{ form.value }}</td>
          <td>{{ form.description.errors }}{{ form.description }}</td>
          <td colspan=2><input class="btn btn-info type="submit" value="Ricarica" /></td>
        </tr>

      </table>
    </form>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/select2/select2.min.js"></script>

<script>
  // enable select2 for the "socio" combo box
  $(document).ready(function() { $("#id_member").select2({ width: 'resolve' }); });
</script>
{% endblock %}
