{% extends "base.html" %}
{% load sekizai_tags %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1>Anteprima tuta sociale <span class="label label-default">2016/2017</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>Dopo anni di attesa, finalmente è in dirittura di arrivo la <b>nuova
      tuta sociale!</b>  Per garantire un ottimo rapporto tra qualità e prezzo
      la scelta è caduta
      sulla <a href="http://www.extremewinter.it/it/giacche/18-monster.html">Extreme
      Winter Monster</a>.</p>
      
      <p>La tuta sarà presentata alla <a href="/trip/24">Festa di Fine
        Stagione</a>, il 14 Maggio. Le ordinazioni dovranno essere effettuate
        entro fine Maggio, in modo da averle in tempo per l'inizio della
        prossima stagione sciistica, <b>inverno 2016/2017</b>.
      </p>

      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Il
        costo indicativo per il completo giacca e pantaloni dovrebbe aggirarsi
        intorno ai 420 €, con possibilità di prendere anche solo la giacca
      </div>
    </div>

    <div class="col-sm-4">
      <img src="/static/img/extreme-monster.jpg" class="img-thumbnail" >
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-8">
      <br>
      {% if saved %}
      <div class="alert alert-success">
        La tua richiesta è stata correttamente registrata. Verrai contattato
        il prima possibile
      </div>
      {% else %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Richiesta informazioni</h3>
        </div>
        <div class="panel-body">
          <p>Se sei interessato a ricevere ulteriori informazioni non appena saranno
            disponibili, lasciaci il tuo nominativo!</p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="col-sm-4">
              {{ form.name }}
              {{ form.name.errors }}
            </div>
            <div class="col-sm-4">
              {{ form.email }}
              {{ form.email.errors }}
            </div>
            <div class="col-sm-4">
              <input class="btn btn-sm btn-info" type="submit" value="OK" />
            </div>
          </form>
        </div>
      </div>
      {% endif %}
      <br>
      <br>
    </div>
  </div>
</div>


{% endblock %}
