{% extends "base.html" %}
{% load sekizai_tags %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1>Nuova tuta sociale <span class="label label-default">2016/2017</span></h1>
      <p>Dopo anni di attesa, finalmente è in dirittura di arrivo la <b>nuova
      tuta sociale!</b>  Per garantire un ottimo rapporto tra qualità e prezzo
      la scelta è caduta
      sulla <a href="http://www.extremewinter.it/it/giacche/19-vintage.html">Extreme
      Winter Vintage</a>, con i colori mostrati nella foto.</p>
      
      <p>Inizieremo a raccogliere le ordinazioni della tuta intorno ad
        Aprile-Maggio, in modo da averle in tempo per l'inizio della prossima
        stagione sciistica, <b>inverno 2016/2017</b>.

      <div class="alert alert-success" role="alert">
        <p>Il costo indicativo per il completo giacca e pantaloni dovrebbe
          aggirarsi intorno ai 450-470 €.</p>
      </div>

      <img src="/static/img/extreme-vintage.jpg" class="img-thumbnail" >
      <br><br>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Richiesta informazioni</h3>
        </div>
        <div class="panel-body">
          <p>Se sei interessato a ricevere ulteriori informazioni non appena saranno
            disponibili, lasciaci il tuo nominativo!</p>
        </div>

        <form action="" method="post">
          {% csrf_token %}
          {% if error %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endif %}
          <div class="col-sm-4">
            {{ form.name.errors }}{{ form.name }}
          </div>
          <div class="col-sm-4">
            {{ form.email.errors }}{{ form.email }}
          </div>
          <div class="col-sm-4">
            <input class="btn btn-sm btn-info" type="submit" value="OK" />
          </div>
        </form>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>


{% endblock %}
