{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Zena Ski Group{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.flatly.min.css" id="mytheme">
    <link rel="stylesheet" href="/static/css/custom.css?version=1">

    <!-- XXX temporary -->
    <link rel="stylesheet" href="/static/zena.css">

    <!-- =============== <Landing Page> ============== -->
    <!-- http://startbootstrap.com/template-overviews/landing-page/ -->
    <link rel="stylesheet" href="/static/css/landing-page.css?version=2">     <!-- ?version=XXX is needed to force the browser to refresh -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- =============== </Landing Page> ============== -->

    {% render_block "css" %}
  </head>
  <body>
    {% block fb_hook %}{% endblock %}
    {% cms_toolbar %}
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/img/logo-zena.png">Zena Ski Group</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if BETA %}
          <li class="dropdown">
            <a class="dropdown-toggle bg-primary" data-toggle="dropdown">
              Versione di sviluppo<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a>{{ BRANCH }}</a></li>
            </ul>
          </li>
          <li><a class="bg-primary">NON USARE</a></li>
          {% endif %}
          {% show_menu 0 1 100 100 "menu.html" %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="?edit" title="Modifica"><span class="glyphicon glyphicon-edit"></span></a></li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tema <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="setTheme('flatly-inverse'); return false">Flatly inverse</a></li>
              <li><a href="#" onclick="setTheme('flatly'); return false">Flatly</a></li>
              <li><a href="#" onclick="setTheme('cerulean'); return false">Cerulean</a></li>
              <li><a href="#" onclick="setTheme('cosmo'); return false">Cosmo</a></li>
              <li><a href="#" onclick="setTheme('cyborg'); return false">Cyborg</a></li>
              <li><a href="#" onclick="setTheme('darkly'); return false">Darkly</a></li>
              <li><a href="#" onclick="setTheme('journal'); return false">Journal</a></li>
              <li><a href="#" onclick="setTheme('lumen'); return false">Lumen</a></li>
              <li><a href="#" onclick="setTheme('paper'); return false">Paper</a></li>
              <li><a href="#" onclick="setTheme('readable'); return false">Readable</a></li>
              <li><a href="#" onclick="setTheme('sandstone'); return false">Sandstone</a></li>
              <li><a href="#" onclick="setTheme('simplex'); return false">Simplex</a></li>
              <li><a href="#" onclick="setTheme('slate'); return false">Slate</a></li>
              <li><a href="#" onclick="setTheme('spacelab'); return false">Spacelab</a></li>
              <li><a href="#" onclick="setTheme('superhero'); return false">Superhero</a></li>
              <li><a href="#" onclick="setTheme('united'); return false">United</a></li>
              <li><a href="#" onclick="setTheme('yeti'); return false">Yeti</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% render_block "js" %}

    <script>
      function setTheme(theme){
        var stylesheet = document.getElementById("mytheme");
        stylesheet.setAttribute('href', "/static/css/bootstrap." + theme + ".min.css");
      }
    </script>

    <script type="text/javascript" src="https://nibirumail.com/docs/scripts/nibirumail.cookie.min.js"></script>
  </body>
</html>
