{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Zena Ski Group{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.flatly.min.css">

    <!-- =============== <Landing Page> ============== -->
    <!-- http://startbootstrap.com/template-overviews/landing-page/ -->
    <link rel="stylesheet" href="/static/css/landing-page.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- =============== </Landing Page> ============== -->

    <!-- XXX: this should be 0px only on the home page -->
    <style>
      .navbar {
        margin-bottom: 0px;
      }

      .intro-message {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(0, 0, 0, 0.4);

      }
    </style>


    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Zena Ski Group</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
        </ul>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% render_block "js" %}
  </body>
</html>
