{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

  {% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/home.css">
  {% endaddtoblock %}

<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>{% placeholder h1 or %}Zena Ski Group{% endplaceholder %}</h1>
          <h3>{% placeholder h3 or %}Since 1997{% endplaceholder %}</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="/trip/" class="btn btn-default btn-lg my-btn-block">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                Prossima Gita
              </a>
            </li>
            <li>
              <a href="/trip/register/" class="btn btn-default btn-lg my-btn-block">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Iscriviti!
              </a>
            </li>
            <li>
              <a href="/calendario" class="btn btn-default btn-lg my-btn-block">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                Calendario
              </a>
            </li>
          </ul>
        </div><!-- /.intro-message -->
      </div><!-- /.col-* -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        {% placeholder content1 or %}
          <h4>Domenica 6 Dicembre</h4>
          <h2 class="section-heading">Cervinia</h2>
          <p class="lead">
            Iscrizioni presso Luciano Sport oppure <a href="#">online</a>.<br>
            Possibilità di partecipazione anche per i non soci.<br>
            Per info, <span class="glyphicon glyphicon-earphone">333-1202453.
          </p>
        {% endplaceholder %}
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <a href="/trip/">
          <img class="img-responsive img-thumbnail" src="/trip/latest_poster" alt="">
        </a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Calendario gite</h2>
        <p class="lead">Inverno 2016-2017: 9 gite, tanto divertimento.<br>Sfoglia il <a href="/calendario/">calendario</a>!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <a href="/calendario">
          <img class="img-responsive img-thumbnail" src="/static/img/calendario2016-2017.jpg" alt="">
        </a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        {% placeholder partner or %}
          <h2 class="section-heading">I nostri partner</h2>
          <u class="list-unstyled lead">
            <li><a href="https://www.facebook.com/scimaniaski/">Sci Mania Ski Service</a></li>
            <li><a href="http://www.lucianosport.com/">Luciano Sport</a></li>
            <li><a href="http://www.club3g.it/">Club 3G</a></li>
          </u>
        {% endplaceholder %}
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <a href="https://www.facebook.com/scimaniaski/">
          <img class="img-responsive img-thumbnail" src="/static/img/sci-mania-ski-service.png" alt="">
        </a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.content-section-a -->


<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Seguici su Facebook</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li class="well-transparent">
              <div class="fb-page" 
                   data-href="https://www.facebook.com/Zenaskigroup-Genova-840174939397202"
                   data-small-header="true"
                   data-adapt-container-width="true"
                   data-hide-cover="false"
                   data-show-facepile="true"
                   data-show-posts="false">
              </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->

<!-- enable facebook button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock content %}
