html {margin: 0; padding: 0; background-color: transparent; background-image: url('bg.jpg'); background-position: center center; background-repeat: repeat; background-attachment: fixed;}
body {margin: 15px 0 15px; padding: 0; text-align: left;}
#imPage {margin: 0 auto; width: 950px; position: relative;}
#imHeader {margin-bottom: 30px; height: 170px; background-color: #C0FFC0; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 170px; left: 0;  height: 24px; width: 943px; padding: 1px 0px 5px 7px; background-color: #80FF80;}
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 936px; padding: 1px 7px 5px 7px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 200px; bottom: 0; left: 0; width: 950px; background-color: #E6E6FA;}
#imFooterBg {clear: both; bottom: 0; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 25px; width: 950px; background-color: transparent;}
